In [2]:
#k-nearest neighbour classification algorithm on Tshirt size prediction dataset
#without sklearn

import pandas as pd
from math import sqrt
d=pd.read_csv("C:/Users/sahoo/Desktop/Dataset/TshirtSize_KNN_classification.csv")
d

    Heights(in cms)  Weight(in kgs) T shirt size
0               158              58            M
1               158              59            M
2               158              63            M
3               160              59            M
4               160              60            M
5               163              60            M
6               163              61            M
7               160              64            L
8               163              64            L
9               165              61            L
10              165              62            L
11              165              65            L
12              168              62            L
13              168              63            L
14              168              66            L
15              170              63            L
16              170              64            L
17              170              68            L

In [6]:
l1=list(d['Heights(in cms)'])
l2=list(d['Weight(in kgs)'])
l3=list(d['T shirt size'])
l4=[]
l5=[]
def cal1(h,w):
    distance=0
    for i in range(18):
        distance =sqrt(((h-l1[i])**2)+((w-l2[i])**2))
        l4.append(distance) 
    l5=list(zip(l4,l3))
    l5.sort()  #first sort all the elements so that we can get least numbers easily 
    #print(l5)
    for i in l5[:5]:  #i have taken first five element as k=5 is mentioned so 5 nearest neighbour
        m=[]
        l=[]
        if(i[-1]=='M'):     
            m.append(i[-1])
        elif(i[-1]=='L'):
            l.append(i[-1])
    if(len(m)>len(l)):         #this is beacuse KNN states that most occuring of same class will get more priority than other class
        print("size is 'M' class ")
    elif(len(l)>len(m)):
        print("size is 'L' class")
    else:
        print("your size doesnot belong to any class !!")
        
        
cal1(168,66)  #this is where we provide new input

size is 'L' class